body {
  background-color: #03045e;
  border: 10px;
  padding: 30px;
  color: antiquewhite;
}
.skill-container {
  display: flex;
  justify-items: center;
  align-items: center;
}
.skills {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  border: 10px;
  background-color:#00b4d8;
};

.nav {
  display: flex;
  justify-content: center;
  gap: 10px;
  text-decoration: none;
  color: brown;
}
.nav a{
  font-display: auto;
  color: antiquewhite;
  text-decoration: none;
}
.container {
  /* height: 100vh; */
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr 3fr 4fr 2fr 2fr 1fr;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
}

/* contact */
.contactdetail {
  display: flex;
  gap: 20px;
}

.contactdetail input {
  width: 300px;
  padding: 6px;
  border: 1px solid rgb(92, 89, 89);
  border-radius: 8px;
  outline: none;
}

.contactdetail input:focus {
  border: 1px solid blue;
}
.day {
  font-weight: bolder;
  color: blue;
  font-display: block;
  text-shadow: 10%;
}
footer{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;10px;
  background-color:#0077b6;
  height:300px;
}
.links{
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.contact-info{
  display: flex;
  flex-direction: column;
}
.social-links{
  display: flex;flex-direction: column;
  text-decoration: none;
}
.herodescription{
  color: #03045e;
  padding: 10px;
  margin: auto;
}
